.footer {
    font-size: 1.4rem;
    color: var(--black);
    padding: 0 40px 40px;
}

.footer__table {
    width: 100%;
    border: 1px solid var(--black);
}

.footer__table-item {
    border: 1px solid var(--black);
    text-align: start;
    background-color: var(--content-color);
}

.footer__edit {
    display: flex;
    position: fixed;
    bottom: 80px;
    right: 40px;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--white);
    border-radius: 4px;
    .footer__edit-button {
        color: var(--black);
        font-weight: 700;
        padding: 12px 36px;
        border-radius: 4px;
        background-color: var(--primary-color);
        cursor: pointer;
    }
}